{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<!-- DataTables JavaScript -->
	<script src="{{ asset('media/bower_components/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('media/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js') }}"></script>
	<script>
		$(document).ready(function () {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- DataTables CSS -->
	<link href="{{ asset('media/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" rel="stylesheet">
	<!-- DataTables Responsive CSS -->
	<link href="{{ asset('media/bower_components/datatables-responsive/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="col-lg-8">
		<a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-user"></i> Logout</a>
		<h1 class="page-header">
			 <i class="fa fa-ambulance "></i> Users
		</h1>
	</div>
	<div class="row">
		<div class="col-lg-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					Salas
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover" id="dataTables-example">
								<thead>
								<tr>
									<th>Id</th>
									<th>Name</th>
									<th>Lastname</th>
									<th>Postalcode</th>
									<th>Entity</th>
									<th>City</th>
									<th>Settlement</th>
									<th>Street</th>
									<th>Number</th>
									<th>Actions</th>
								</tr>
								</thead>
								<tbody>
								{% for user in entities %}
									<tr>
										<td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
										<td>{{ user.name }}</td>
										<td>{{ user.lastname }}</td>
										<td>{{ user.postalCode }}</td>
										<td>{{ user.entity }}</td>
										<td>{{ user.city }}</td>
										<td>{{ user.settlement }}</td>
										<td>{{ user.street }}</td>
										<td>{{ user.number }}</td>
										<td>
											<ul>
												<li>
													<a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
												</li>
												<li>
													<a href="{{ path('user_delete', { 'id': user.id }) }}">delete</a>
												</li>
											</ul>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							{#</div>#}
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>
{% endblock %}
